<h2>Hello World! It's TIQ-TAK-TOW!</h2>

<div>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
</div>
<div>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
</div>
<div>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
<canvas width ="50" height = "50" style="border:2px solid gray"></canvas>
</div>